<html>
<head>
<style>

</style>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>File Browser</title>
<style>
.error-template {padding: 40px 15px;text-align: center;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }
</style>
</head>
<body>

<div class="container-fluid maincontent">
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">

                <h2>
                    You are login! </h2>
                <div class="error-details">
                    The page you're looking for is not available.
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>